<div class = "d-flex justify-content-center">
  <h1 class ="text-center">About</h1>
</div>
<div class = "d-flex justify-content-center mt-3">
  <h4 class ="text-center">
    <p>猫好き、猫派、世界中の猫の種類を知りたい。</p>
    <p>色々な猫の画像を見て癒されたい、共有したい。</p>
    <p>そのようなユーザーの為のコミュニティサイトです。</p>
  </h4>
</div>

<div class = "d-flex justify-content-center mt-5">
  <%= image_tag 'logo.png' ,:width => '300', :height => '300' %>
</div>