<!-- フッター部分 -->
<footer class="bg-secondary text-white pt-5 pb-4">
  <div class="container">
    <div class="small text-center text-white" style="margin: 50px 0;">
       @2023 nekoha
    </div>
  </div>
</footer>