<!-- 投稿時に、登録したタグの分だけ、ループする。 -->
<% tag_list.each do |tag|%>
  <div class="d-grid gap-2 btn btn-primary">
    <!-- タグ検索を行うためにリンク化。postモデルを検索 -->
    <%= link_to tag, posts_path(tag_name: tag), class: "text-white"  %>
  </div>
<% end %>