<div class = "genres_sidebar" >
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to "投稿する", new_post_path %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "投稿内容一覧", user_posts_path(current_user.id) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "いいね一覧", user_favorites_path(current_user.id) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "コメント一覧", user_comments_path(current_user.id) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>