<div class = "genres_sidebar" >
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to "投稿する", new_post_path %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "投稿内容一覧", user_index_path %>
        </td>
      </tr>
      <tr>
        <td>いいね一覧</td>
      </tr>
      <tr>
        <td>コメント一覧</td>
      </tr>
    </tbody>
  </table>
</div>