<div class = "genres_sidebar" >
  <table>
    <tbody>
      <tr>
        <td>投稿する</td>
      </tr>
      <tr>
        <td>投稿内容全て</td>
      </tr>
      <tr>
        <td>いいね一覧</td>
      </tr>
      <tr>
        <td>コメント一覧</td>
      </tr>
    </tbody>
  </table>
</div>